body {
    display: flex;
    flex-direction: column;
    background-color: #0A2647;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upward-page {
    width: 400px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#custom-title {
    margin-left: 20px;
}

#custom-title h1 {
    color: white;
}

#scoreboard {
    margin-right: 30px;
    border: 1px solid white;
    height: 120px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

#scoreboard h3,
#scoreboard h1 {
    text-align: center;
    color: #2F58CD;
}

#scoreboard h1 {
    margin-top: -10px;
    color: #4F4557;
    font-size: 3em;
}

.buttons img {
    width: 200px;
    height: 200px;
    border: 20px solid black;
    border-radius: 50%;
    background-color: transparent;
    transition: 1s;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 450px;
    width: 550px;

    transition: 1s;
}

.buttons img:nth-child(2) {
    border-color: #270082;
    margin-left: 60px;
}

.buttons img:nth-child(1) {
    border-color: #D21312;
}

.buttons img:nth-child(3) {
    border-color: #FEC260;
    margin-left: 140px;
}

.buttons img:hover {
    transform: scale(1.2);
}


#button {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
    align-items: end;

}

#newGame {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
}

#button button {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    transition: 1s;
}

#button button:hover {
    transform: translateY(-25px);
}

#button button:focus {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.apply-shake {
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}

.newGame {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    transition: 1s;
}

@media (max-width:415px) {
    #button button {
        width: 150px;
        margin-top: 100px;
        margin-left: 60px;
    }

    #scoreboard {
        width: 100px;
    }

    .upward-page {
        width: 350px;
    }

    .buttons {
        height: 200px;
        width: 220px;

    }

    .buttons img {
        margin-bottom: 50px;
    }


    .buttons img:nth-child(2) {
        margin-left: 0px;
    }

    .buttons img:nth-child(3) {
        margin-left: 0px;
    }

    #button {
        margin-top: 550px;
        justify-content: center;
        margin-right: 50px;
    }

    #button button:hover {
        transform: translateY(-10px);
    }
}
